/*
 * Alumno: Anxo Portela-Insua Blanco
 * e-Mail: anxoportela@gmail.com
 * Fecha: 27/09/2018 - 01:45:16
 * Versión: 1.0
 *
 * selectores.css
 */
html {
  font-family: 1em/1.3 Arial, Helvetica, sans-serif;
}

p {
  color: #555;
}

a {
  color: #c30;
}

em {
  background: #ffc;
  padding: 0.1em;
}

/* Identificadores */
#primero p {
  color: #369;
}

/* Clases */
.especial {
  background: #fc9;
  border: 1px solid #f90;
  padding: 0.1em;
}

.normal span {
  font-weight: bold;
}
